<!--<link rel="import" href="../../../packages/polymer/polymer.html">-->
<link rel="import" href="../../../packages/google-signin/google-apis/google-apis.html">
<link rel="import" href="../../../packages/google-signin/polymer-signals/polymer-signals.html">

<!--
Copyright (c) 2014 Google Inc. All rights reserved.

LICENSE: github.com/GoogleWebComponents/google-signin/blob/master/LICENSE
AUTHOR(s): Addy Osmani, Gerwin Sturm and Rob Dodson.
--->

<!--
&lt;google-signin&gt; is used to authenticate with Google, allowing you to interact
with other Google APIs such as Drive and Google+.

<img width="650px" src="http://i.imgur.com/hYueNjN.jpg"/>

The attribute `clientId` is provided in your Google Developers Console
(https://console.developers.google.com).
The `scopes` attribute allows you to specify which scope permissions are required
(e.g do you want to allow interaction with the Google Drive API). Many APIs also
need to be enabled in the Google Developers Console before you can use them.
The `requestVisibleActions` attribute is necessary if you want to write app
activities (https://developers.google.com/+/web/app-activities/) on behalf of
the user. Please note that this attribute is only valid in combination with the
plus.login scope (https://www.googleapis.com/auth/plus.login).

The `labelSignin` attribute is an optional piece of text used for customizing
the label on the sign-in button. `labelSignout` allows you to customize the label
for sign-out, and `labelAdditional` defines the label that is displayed when
additional permissions are necessary for incremental auth.

The `google-signin-success` event is triggered when a user successfully authenticates
and `google-signin-failure` is triggered when this is not the case. Both events
will also provide the data returned by the Google client authentication process.

Additional events, such as `google-signout-attempted` and `google-signed-out` are
triggered when the user attempts to sign-out and successfully signs out.

The `google-signin-necessary` event is fired when scopes requested via
google-signin-aware elements require additional user permissions.

##### Example

    <google-signin cliendId="..." scopes="https://www.googleapis.com/auth/drive"></google-signin>

    <google-signin labelSignin="Sign-in" cliendId="..." scopes="https://www.googleapis.com/auth/drive"></google-signin>

@class google-signin
@blurb A Polymer element for authenticating and authorizing with Google Services.
@status alpha
@homepage http://googlewebcomponents.github.io/google-signin
-->

<polymer-element name="google-signin" attributes="clientId scopes cookiePolicy requestVisibleActions labelSignin labelSignout labelAdditional">
    <template>
        <style>
            :host {
                display: inline-block;
            }
        </style>
        <google-client-api></google-client-api>
        <polymer-signals on-polymer-signal-google-auth-request="{{authRequest}}"></polymer-signals>
        <template if="{{ !signedIn }}">
        <input type="button" value="{{labelSignin}}" on-click="{{signIn}}" />
        </template>
        <template if="{{ signedIn && !additionalAuth }}">
        <input type="button" value="{{labelSignout}}" on-click="{{signOut}}" />
        </template>
        <template if="{{ signedIn && additionalAuth }}">
        <input type="button" value="{{labelAdditional}}" on-click="{{signIn}}" />
        </template>
    </template>
    <script>
        (function() {
            var CLIENT_ID = '';
            var SCOPES = [];
            var REQUEST_VISIBLE_ACTIONS = '';
            var COOKIE_POLICY = '';

            var handler;
            var authorized_scopes = [];

            /**
             * Checks whether authorized and requested scopes match and
             * displays button for additional auth if necessary
             */
            function checkScopes() {
                handler.additionalAuth = false;
                for (var i = 0; i < SCOPES.length; i++) {
                    if (SCOPES[i] !== '') {
                        if (authorized_scopes.indexOf(SCOPES[i].toLowerCase()) < 0) {
                            handler.additionalAuth = true;
                            handler.fire('google-signin-necessary');
                            break;
                        }
                    }
                }
            }

            /**
             * Called when authorization server replies.
             *
             * @param {Object} authResult Authorization result.
             * @event google-signin-success
             */

            /**
             * Called when the user attempts sign-out.
             *
             * @event google-signout-attempted
             */

            /**
             * Called when the user has completed sign-out.
             *
             * @param {Object} authResult Authorization result.
             * @event google-signed-out
             */
            function handleAuthResult(authResult) {
                if (authResult && !authResult.error) {
                    // Access token has been successfully retrieved

                    // Store authorized scopes to check against for new requests
                    authorized_scopes = [];
                    var tmp_scopes = authResult.scope.split(' ');
                    for (var i = 0; i < tmp_scopes.length; i++) {
                        if (tmp_scopes[i] !== "") {
                            authorized_scopes.push(tmp_scopes[i].toLowerCase());

                            // Handle scopes that will be deprecated but are still returned with their old value
                            if (tmp_scopes[i] === 'https://www.googleapis.com/auth/userinfo.profile') {
                                authorized_scopes.push('profile');
                            }
                            if (tmp_scopes[i] === 'https://www.googleapis.com/auth/userinfo.email') {
                                authorized_scopes.push('email');
                            }
                        }
                    }

                    // Trigger the google-signin-success event
                    handler.fire('google-signin-success', {result: authResult, gapi: gapi});

                    // Trigger the google-auth-success polymer-signal for elements that depend on this
                    handler.fire('polymer-signal', {
                        name: 'google-auth-success',
                        data: {result: authResult, scopes: authorized_scopes}
                    });

                    handler.signedIn = true;

                    checkScopes();
                } else {
                    if (authResult && authResult.error == "user_signed_out") {
                        // Fire event to indicate user signed out
                        handler.fire('google-signed-out', {result: authResult});

                        // Trigger the google-auth-signed-out polymer-signal for elements that depend on this
                        handler.fire('polymer-signal', {
                            name: 'google-auth-signed-out',
                            data: {result: authResult}
                        });
                    } else {
                        // Fire event to indicate sign-in was not successful
                        handler.fire('google-signin-failure', {result: authResult});

                        // Trigger the google-auth-failure polymer-signal for elements that depend on this
                        handler.fire('polymer-signal', {
                            name: 'google-auth-failure',
                            data: {result: authResult}
                        });
                    }

                    authorized_scopes = [];

                    // No access token could be retrieved, show the button to start the authorization flow.
                    handler.signedIn = false;
                }

                handler.flowComplete = true;
            }

            Polymer('google-signin', {
                /**
                 * a Google Developers clientId reference
                 *
                 * @attribute clientId
                 * @type string
                 */
                clientId: '',
                /**
                 * The scopes to provide access to (e.g https://www.googleapis.com/auth/drive)
                 * and should be space-delimited.
                 *
                 * @attribute scopes
                 * @type string
                 * @default 'profile'
                 */
                scopes: 'profile',
                /**
                 * The cookie policy defines what URIs have access to the session cookie
                 * remembering the user's sign-in state.
                 * See the relevant [docs](https://developers.google.com/+/web/signin/reference#determining_a_value_for_cookie_policy) for more information.
                 *
                 * @attribute cookiePolicy
                 * @type string
                 * @default 'single_host_origin'
                 */
                cookiePolicy: 'single_host_origin',
                /**
                 * The app activity types you want to write on behalf of the user
                 * (e.g http://schemas.google.com/AddActivity)
                 *
                 * @attribute requestVisibleActions
                 * @type string
                 */
                requestVisibleActions: '',
                /**
                 * An optional label for the sign-in button
                 *
                 * @attribute labelSignin
                 * @type string
                 * @default 'Authorize'
                 */
                labelSignin: 'Authorize',
                /**
                 * An optional label for the sign-out button
                 *
                 * @attribute labelSignout
                 * @type string
                 * @default 'Sign out'
                 */
                labelSignout: 'Sign out',
                /**
                 * An optional label for the button for additional permissions
                 *
                 * @attribute labelAdditional
                 * @type string
                 * @default 'Additional permissions required'
                 */
                labelAdditional: 'Additional permissions required',

                attached: function () {
                    if (this.clientId === '') {
                        throw "A valid clientId is required to use this element";
                    }

                    CLIENT_ID =  this.clientId;
                    SCOPES = this.scopes.split(' ');
                    COOKIE_POLICY = this.cookiePolicy;
                    REQUEST_VISIBLE_ACTIONS = this.requestVisibleActions;
                    handler = this;

                    // For page-level configuration the callback has to be in global namespace
                    window.handleAuthResult = handleAuthResult;

                    var meta = document.createElement('meta');
                    meta.setAttribute('name', 'google-signin-clientid');
                    meta.setAttribute('content', CLIENT_ID);
                    document.head.appendChild(meta);

                    meta = document.createElement('meta');
                    meta.setAttribute('name', 'google-signin-scope');
                    meta.setAttribute('content', SCOPES.join(' '));
                    document.head.appendChild(meta);

                    meta = document.createElement('meta');
                    meta.setAttribute('name', 'google-signin-cookiepolicy');
                    meta.setAttribute('content', COOKIE_POLICY);
                    document.head.appendChild(meta);

                    meta = document.createElement('meta');
                    meta.setAttribute('name', 'google-signin-callback');
                    meta.setAttribute('content', 'handleAuthResult');
                    document.head.appendChild(meta);

                    if (REQUEST_VISIBLE_ACTIONS) {
                        meta = document.createElement('meta');
                        meta.setAttribute('name', 'google-signin-requestvisibleactions');
                        meta.setAttribute('content', REQUEST_VISIBLE_ACTIONS);
                        document.head.appendChild(meta);
                    }
                },

                authRequest: function (e, detail, sender) {
                    var i, new_scopes, extra_scopes;
                    if (detail) {
                        // Check if any new scopes need to be authorized
                        extra_scopes = false;
                        new_scopes = detail.split(" ");
                        for (i = 0; i < new_scopes.length; i++) {
                            if (new_scopes[i] !== "") {
                                if (authorized_scopes.indexOf(new_scopes[i].toLowerCase()) < 0) {
                                    extra_scopes = true;
                                    if (SCOPES.indexOf(new_scopes[i].toLowerCase()) < 0) {
                                        SCOPES.push(new_scopes[i].toLowerCase());
                                    }
                                }
                            }
                        }
                    }
                    if (extra_scopes) {
                        if (handler.flowComplete) {
                            handler.additionalAuth = true;
                            handler.fire('google-signin-necessary');
                        }
                    } else {
                        handler.fire('polymer-signal', {
                            name: 'google-auth-success',
                            data: {result: gapi.auth.getToken(), scopes: authorized_scopes}
                        });
                    }
                },

                signIn: function () {
                    handler.flowComplete = false;
                    gapi.auth.signIn({'scope': SCOPES.join(' ')});
                },

                signOut: function () {
                    handler.flowComplete = false;
                    handler.fire('google-signout-attempted');
                    gapi.auth.signOut();
                }
            });
        })();
    </script>
</polymer-element>


<!--
google-signin-aware is used to enable authentication in custom elements by
interacting with a google-signin element that needs to be present somewhere
on the page.

The `scopes` attribute allows you to specify which scope permissions are required
(e.g do you want to allow interaction with the Google Drive API).

The `google-signin-aware-success` event is triggered when a user successfully
authenticates. The event will also provide the data returned by the Google client
authentication process.

The `google-signin-aware-success` event is triggered when a user successfully
authenticates and `google-signin-aware-failure` is triggered when this is not
he case. Both events will also provide the data returned by the Google client
authentication process. The `google-signin-aware-signed-out' event is triggered
when a user explicitely signs out via the google-signin element.

##### Example

    <google-signin-aware scopes="https://www.googleapis.com/auth/drive"></google-signin-aware>

@class google-signin-aware
@blurb A Polymer element for authenticating and authorizing with Google Services.
@status alpha
@homepage http://googlewebcomponents.github.io/google-signin
-->

<polymer-element name="google-signin-aware" attributes="scopes">
    <template>
        <polymer-signals on-polymer-signal-google-auth-success="{{authSuccess}}"></polymer-signals>
        <polymer-signals on-polymer-signal-google-auth-failure="{{authFailure}}"></polymer-signals>
        <polymer-signals on-polymer-signal-google-auth-signed-out="{{signedOut}}"></polymer-signals>
    </template>
    <script>
        (function() {
            var loader = null;

            Polymer('google-signin-aware', {
                /**
                 * The scopes to provide access to (e.g https://www.googleapis.com/auth/drive)
                 * and should be space-delimited.
                 *
                 * @attribute scopes
                 * @type string
                 * @default 'profile'
                 */
                scopes: '',

                attached: function() {
                    this.fire('polymer-signal', {
                        name: 'google-auth-request',
                        data: this.scopes
                    });
                },

                authSuccess: function (e, detail) {
                    // Check if correct scopes authorized, if not do nothing and continue to wait
                    var complete = false;
                    if (detail && detail.scopes) {
                        var scopes = this.scopes.split(' ');
                        complete = true;
                        for (var i = 0; i < scopes.length; i++) {
                            if (scopes[i] !== '' && detail.scopes.indexOf(scopes[i].toLowerCase()) < 0) {
                                complete = false;
                                break;
                            }
                        }
                    }
                    if (complete) {
                        this.fire('google-signin-aware-success', detail);
                    }
                },

                authFailure: function (e, detail) {
                    this.fire('google-signin-aware-failure', detail);
                },

                signedOut: function (e, detail) {
                    this.fire('google-signin-aware-signed-out', detail);
                }
            });
        })();
    </script>
</polymer-element>
